.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.title-container {
  margin-bottom: 20px;
}

.title {
  font-size: 60px;
  font-weight: bold;
  color: #080808;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.button-container button {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #45a049;
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Alinear los elementos al extremo derecho */
  margin-bottom: 8px;
}

.button-container-delete {
  display: flex;
  align-items: center;
}

.button-container-delete button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #ff0000; /* Color rojo */
  color: white;
  cursor: pointer;
}

.button-container-delete button:hover {
  background-color: #cc0000; /* Color rojo más oscuro en hover */
}

.list-header h2 {
  margin: 0;
  cursor: pointer;
}

.content-container {
  display: flex;
  justify-content: center;
}

.list-container {
  background-color: lightgrey;
  padding: 8px;
  width: 250px;
  margin-right: 16px;
  border-radius: 4px;
}

.list-container.dragging-over {
  background-color: lightblue;
}

.draggable-item {
  user-select: none;
  padding: 16px;
  margin-bottom: 8px;
  background-color: gray !important; /* Cambiar el color de fondo a lightblue */
  color: white;
  cursor: grab;
}

.draggable-item.dragging {
  background-color: lightgreen;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.draggable-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.draggable-item.dragging {
  opacity: 0.5;
}

.delete-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.delete-button:hover {
  color: #ff0000;
}
